Header {
    background: darkblue;
}

.AppFooter {
    layout: horizontal;
    background: darkblue;
    color: white;
    height: 1;
    padding: 1 0;
 
    padding: 0 1 0 1;
}

.github {
    width: 50%;
    text-align: left;
    color: white;
}

.version {
    width: 50%;
    text-align: right;
    color: white;
}